@model MNServer.ProcessAction.Model.BirthProcess

@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <title>Birth Certificate</title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <link href="~/Scripts/Test.css" rel="stylesheet" />
    <script src="~/Scripts/CustomeScript.js"></script>
    
</head>

<body>

    <div class="text-center form-group Heading">Registration Form</div>

    <div class="panel panel-body panel-heading col-md-8" style=" border: 2px groove #ddd !important; border-radius: 7px;margin-left:17%;">
       
            @using (Html.BeginForm("BirthRegistration", "BirthRegist", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <div class="ValidateLable">
                        <p>@ViewBag.MyString</p>
                    </div>


   @*----------------------------------------Birth Registration Form---------------------------------------------------- *@
                    <div class="FontStyle">

                        @*Name of Informant *@
                        <div class="form-row">
                            @{
                                var FormType = Model.FormType.ToString();
                                if (FormType == "BR")
                                {
                                    @Html.TextBoxFor(m => m.BnDType, new { style = "display: none;" })
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Informant

                                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.TextBoxFor(m => m.CustomerGender, new { style = "display: none;" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Child
                                            @Html.TextBoxFor(m => m.Name_of_Child, new { placeholder = " Name Of Child", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Name_of_Child, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.BnDType, new { style = "display: none;" })
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Informant

                                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.TextBoxFor(m => m.CustomerGender, new { style = "display: none;" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Deceased person
                                            @Html.TextBoxFor(m => m.NameOfBnDperson, new { placeholder = " Name Of Deceased Person", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.NameOfBnDperson, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        @Html.TextBoxFor(m => m.FormType, new { placeholder = " Name Of Child", @class = "form-control", style = "display:none;" })
                        @*Gender of Child *@
                        <div class="form-row">
                            @{
                                FormType = Model.FormType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin  ">

                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Gender Of Child
                                            @Html.DropDownList("Gender_Of_Child", new List<SelectListItem>
                                                {
                                                   new SelectListItem{ Text="--Select Gender--" },
                                                   new SelectListItem{ Text="Male" },
                                                   new SelectListItem{ Text="Female" },
                                                }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Gender_Of_Child, "", new { @class = "text-danger" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>

                                        <div class="form-group col-md-5">
                                            Name Of Father

                                            @if (Model.CustomerGender.Equals("Male"))
                                            {
                                                Model.Name_of_Father = Model.CustomerName;
                                                @Html.TextBoxFor(m => m.Name_of_Father, new { placeholder = " Name Of Father", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name_of_Father, "", new { @class = "text-danger" })
                                            }
                                            else

                                            {
                                                @Html.TextBoxFor(m => m.Name_of_Father, new { placeholder = " Name Of Father", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name_of_Father, "", new { @class = "text-danger" })

                                            }

                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div class="form-group col-md-5">
                                            Name Of Deceased Father/Husband of Deceased
                                            @Html.TextBoxFor(m => m.Name_of_Father, new { placeholder = " Name Of Father", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Name_of_Father, "", new { @class = "text-danger" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Date Of Death
                                            @Html.TextBoxFor(m => m.Date_of_Death, "{0:yyyy-MM-dd}", new { placeholder = "Date Of Death", @class = "form-control", type = "date" })
                                            @Html.ValidationMessageFor(m => m.Date_of_Birth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        @*Mother Name *@
                        <div class="form-row">
                            @{
                                FormType = Model.FormType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Mother
                                            @if (Model.CustomerGender.Equals("Female"))
                                            {
                                                Model.Name_of_Mother = Model.CustomerName;
                                                @Html.TextBoxFor(m => m.Name_of_Mother, new { placeholder = "  Name Of Mother", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name_of_Mother, "", new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.Name_of_Mother, new { placeholder = " Name Of Mother", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name_of_Mother, "", new { @class = "text-danger" })
                                            }

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Date Of Birth
                                            @Html.TextBoxFor(m => m.Date_of_Birth, "{0:yyyy-MM-dd}", new { placeholder = "Date Of Birth", @class = "form-control", type = "date" })
                                            @Html.ValidationMessageFor(m => m.Date_of_Birth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Age of Deceased
                                            @Html.TextBoxFor(m => m.AgeofDeceased, new { placeholder = " Age of Deceased", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.AgeofDeceased, "", new { @class = "text-danger" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Address
                                            @Html.TextAreaFor(m => m.CustomerAddress, new { placeholder = " Address", @class = "form-control" })
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                        @*Place of Birth *@
                        <div class="form-row">
                            @{
                                FormType = Model.FormType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Place Of Birth
                                            @Html.TextBoxFor(m => m.Place_of_Birth, new { placeholder = "Place Of Birth", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Place_of_Birth, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Address

                                            @Html.TextAreaFor(m => m.CustomerAddress, new { placeholder = " Address", @class = "form-control" })


                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Ward
                                            @Html.TextBoxFor(m => m.Gram_Panchayat_Unit, new { placeholder = " Ward", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Gram_Panchayat_Unit, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Place Of Birth
                                            @Html.TextBoxFor(m => m.PlaceofDeath, new { placeholder = "Place Of Death", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.PlaceofDeath, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        @*Ward*@
                        <div class="form-row">
                            @{
                                FormType = Model.FormType.ToString();
                                if (FormType == "BR")
                                {
                            <div class="col-md-12 input-group DivMargin  ">
                                <div id="DivDummy" class="col-md-0 "></div>
                                <div class="form-group col-md-5">
                                    Ward
                                    @Html.TextBoxFor(m => m.Gram_Panchayat_Unit, new { placeholder = " Ward", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Gram_Panchayat_Unit, "", new { @class = "text-danger" })

                                </div>
                                <div id="DivDummy" class="col-md-2 "></div>
                                <div class="form-group col-md-5">
                                    Are you Indian ? <br />
                                    <input type="radio" name="Nationality" value="True">Yes
                                    <input type="radio" name="Nationality" value="False">No <br />
                                    @Html.ValidationMessageFor(m => m.Nationality, "", new { @class = "text-danger" })

                                </div>

                            </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin " style="display:none">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Ward
                                            @Html.TextBoxFor(m => m.Gram_Panchayat_Unit, new { placeholder = " Ward", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Gram_Panchayat_Unit, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Document Type

                                            @Html.DropDownList("DocumentType", new List<SelectListItem>
                                            {
                                               new SelectListItem{ Text="Pan" },
                                               new SelectListItem{ Text="Election Voter ID" },
                                               new SelectListItem{ Text="Aadhar" },
                                            },
      new { @class = "form-control" }
                            )

                                        </div>

                                    </div>
                                }
                            }
                        </div>

                        @*File*@
                        <div class="form-row">

                            @{
                                FormType = Model.FormType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        @*<div class="col-md-5" style="display:none">
                                            Files
                                            @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                                        </div>*@

                                        <div id="DivDummy" class="col-md-2 "></div>
                                       
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin " style="display:none">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Ward
                                            @Html.TextBoxFor(m => m.Gram_Panchayat_Unit, new { placeholder = " Ward", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Gram_Panchayat_Unit, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Are you Indian ? <br />
                                            <input type="radio" name="Nationality" value="True">Yes
                                            <input type="radio" name="Nationality" value="False">No <br />
                                            @Html.ValidationMessageFor(m => m.Nationality, "", new { @class = "text-danger" })

                                        </div>

                                    </div>
                                }
                            }
                        </div>

                    </div>

                    <hr style="height:12px">
                    <div>
                        <h2>Documents</h2>
                        <table id="TblDocuments" class="panel panel-body panel-heading col-md-12" style="width:auto; " cellpadding="8" cellspacing="8">
                            <tbody>
                                @{
                                    string s = null;
                                    string[] sa = null;
                                    var docList = Model.DocList;
                                    for (int i = 0; i < Model.DocList.Count; i++)
                                    {
                                        s = docList[i].Doctype;


                                        sa = s.Split(new char[] { '|' }, StringSplitOptions.RemoveEmptyEntries);
                                        List<SelectListItem>
                                            sl = new List<SelectListItem>
                                                ();
                                        foreach (var doctypeinner in sa)
                                        {
                                            sl.Add(new SelectListItem { Text = doctypeinner.ToString() });
                                        }

                                        if (sl.Count <= 0)
                                        {

                                            <tr>
                                                <td style="width:250px">
                                                    @Html.TextBoxFor(m => m.DocList[i].Docname, new { @multiple = "multiple", @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <td>

                                                    @Html.TextBoxFor(m => m.DocList[i].Docname, new { @type = "file", @name = "filePost", @class = "form-control" })
                                                </td>
                                            </tr>

                                        }
                                        else
                                        {
                                            <tr>
                                                <td style="width:250px">
                                                    @Html.TextBoxFor(m => m.DocList[i].Docname, new { name = "filePost1", @class = "form -control", @readonly = "readonly" })
                                                </td>
                                                <td style="width:220px">
                                                    @Html.DropDownListFor(m => m.DocList[i].Doctype, sl, new { @name = "filePost2", @class = "form-control" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.DocList[i].Docname, new { @type = "file", @name = "filePost", @class = "form -control" })
                                                </td>
                                            </tr>
                                            }
                                        }

                                        // foreach (var DocTypeName in Model.DocList)
                                        //  {

                                        //  s = DocTypeName.Doctype;


                                        //  sa = s.Split(new char[] { '|' }, StringSplitOptions.RemoveEmptyEntries);
                                        //  List
                                        //  <SelectListItem>
                                        //      sl = new List<SelectListItem>
                                        //          ();
                                        //          foreach (var doctypeinner in sa)
                                        //          {
                                        //          sl.Add(new SelectListItem { Text = doctypeinner.ToString() });
                                        //          }

                                        //          if (sl.Count<= 0)
                                        //          {

                                        //          <tr>
                                        //              <td style="width:250px">
                                        //                  @Html.TextBoxFor(m =>DocTypeName.ID, new { @multiple = "multiple", @class = "form-control", @readonly = "readonly" })
                                        //              </td>
                                        //              <td>

                                        //                  @Html.TextBoxFor(m => DocTypeName.Docname, new { @type = "file", @name = "filePost", @class = "form-control" })
                                        //              </td>
                                        //          </tr>

                                        //          }
                                        //          else
                                        //          {
                                        //          <tr>
                                        //              <td style="width:250px">
                                        //                  @Html.TextBoxFor(m => DocTypeName.Docname, new { name = "filePost1", @class = "form -control", @readonly = "readonly" })
                                        //              </td>
                                        //              <td style="width:220px">
                                        //                  @Html.DropDownList(" --------Select Document Type--------", sl, new { @name = "filePost2", @class = "form-control" })
                                        //              </td>
                                        //              <td>
                                        //                  @Html.TextBoxFor(m => DocTypeName.Docname, new { @type = "file", @name = "filePost", @class = "form -control" })
                                        //              </td>
                                        //          </tr>
                                        //          }

                                        //   }
                                        //}
                                    }
                            </tbody>

                        </table>
                    </div>


                    @* Register/Reset Button*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="margin-left: 350px; padding: 10px;">
                            <input type="submit" value="Register" class="btn btn-success" id="BtnBirthsave" />
                            <input type="submit" value="Reset  " class="btn btn-primary" />

                        </div>
                    </div>

                </fieldset>
     }
        </div>


</body>
</html>
