@model MNServer.Models.ClarificationModelList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/CustomeScript.js"></script>
    <title>Clarification</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddRejection", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            {
                for (int i = 0; i < Model.RegistrationForm.Count; i++)
                {
                    var item = Model.RegistrationForm[i];
                    @*----------------------------------------Birth Registration Form---------------------------------------------------- *@
                    <div class="FontStyle">

                        @*Name of Informant *@
                        <div class="form-row">
                            @{
                                var FormType = item.BnDType.ToString();
                                var nationality = item.Nationality.ToString();
                                var radioBool = nationality.Trim().Equals("True");
                                var radioBool1 = nationality.Trim().Equals("False");
                                var gender = item.Gender_Of_Child.ToString();
                                if (FormType == "BR")
                                {
                                    @Html.TextBoxFor(m => m.RegistrationForm[i].BnDType, new { style = "display: none;" })
                                    @Html.TextBoxFor(m => m.RegistrationForm[i].ID, new { style = "display: none;" })
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Informant

                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Name_of_Informant, new { @class = "form-control", @readonly = "readonly" })

                                            @Html.TextBoxFor(m => m.RegistrationForm[i].CustomerGender, new { style = "display: none;" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Child
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Name_of_Child, new { placeholder = " Name Of Child", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Name_of_Child, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.RegistrationForm[i].BnDType, new { style = "display: none;" })
                                    @Html.TextBoxFor(m => m.RegistrationForm[i].ID, new { style = "display: none;" })
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Informant

                                            @Html.TextBoxFor(m => m.RegistrationForm[i].CustomerName, new { @class = "form-control", @readonly = "readonly" })

                                            @Html.TextBoxFor(m => m.RegistrationForm[i].CustomerGender, new { style = "display: none;" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Deceased person
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].NameOfBnDperson, new { placeholder = " Name Of Deceased Person", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].NameOfBnDperson, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        @Html.TextBoxFor(m => m.RegistrationForm[i].BnDType, new { placeholder = " Name Of Child", @class = "form-control", style = "display:none;" })
                        @*Gender of Child *@
                        <div class="form-row">
                            @{
                                FormType = Model.RegistrationForm[i].BnDType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin  ">

                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Gender Of Child

                                            @Html.DropDownListFor(m=>m.RegistrationForm[i].Gender_Of_Child, new List<SelectListItem>
                                                {

                                                   new SelectListItem{ Text="Male" },
                                                   new SelectListItem{ Text="Female" },
                                                },Model.RegistrationForm[i].Gender_Of_Child)


                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Gender_Of_Child, "", new { @class = "text-danger" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>

                                        <div class="form-group col-md-5">
                                            Name Of Father
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Name_of_Father, new { placeholder = " Name Of Father", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Name_of_Father, "", new { @class = "text-danger" })


                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div class="form-group col-md-5">
                                            Name Of Deceased Father/Husband of Deceased
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Name_of_Father, new { placeholder = " Name Of Father", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Name_of_Father, "", new { @class = "text-danger" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Date Of Death
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Date_of_Death, "{0:yyyy-MM-dd}", new { placeholder = "Date Of Death", @class = "form-control", type = "date" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Date_of_Birth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        @*Mother Name *@
                        <div class="form-row">
                            @{
                                FormType = Model.RegistrationForm[i].BnDType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Name Of Mother
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Name_of_Mother, new { placeholder = "  Name Of Mother", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Name_of_Mother, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Date Of Birth
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Date_of_Birth, "{0:yyyy-MM-dd}", new { placeholder = "Date Of Birth", @class = "form-control", type = "date" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Date_of_Birth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Age of Deceased
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].AgeofDeceased, new { placeholder = " Age of Deceased", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].AgeofDeceased, "", new { @class = "text-danger" })
                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Address
                                            @Html.TextAreaFor(m => m.RegistrationForm[i].Address, new { placeholder = " Address", @class = "form-control" })
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                        @*Place of Birth *@
                        <div class="form-row">
                            @{
                                FormType = Model.RegistrationForm[i].BnDType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Place Of Birth
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Place_of_Birth, new { placeholder = "Place Of Birth", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Place_of_Birth, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Address

                                            @Html.TextAreaFor(m => m.RegistrationForm[i].Address, new { placeholder = " Address", @class = "form-control" })


                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Ward
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Gram_Panchayat_Unit, new { placeholder = " Ward", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Gram_Panchayat_Unit, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Place Of Birth
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].PlaceofDeath, new { placeholder = "Place Of Death", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].PlaceofDeath, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        @*Ward*@
                        <div class="form-row">
                            @{
                                FormType = Model.RegistrationForm[i].BnDType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin  ">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Ward
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Gram_Panchayat_Unit, new { placeholder = " Ward", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Gram_Panchayat_Unit, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Nationality<br />

                                            <input type="radio" name="Nationality" checked="@radioBool" value="@radioBool">Yes
                                            <input type="radio" name="Nationality" checked="@radioBool1" value="@radioBool1">No <br />
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Nationality, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin " style="display:none">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Ward
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Gram_Panchayat_Unit, new { placeholder = " Ward", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Gram_Panchayat_Unit, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Document Type

                                            @Html.DropDownList("DocumentType", new List<SelectListItem>
                                            {
                                               new SelectListItem{ Text="Pan" },
                                               new SelectListItem{ Text="Election Voter ID" },
                                               new SelectListItem{ Text="Aadhar" },
                                            },
            new { @class = "form-control" }
                            )

                                        </div>

                                    </div>
                                }
                            }
                        </div>

                        @*File*@
                        <div class="form-row">

                            @{
                                FormType = Model.RegistrationForm[i].BnDType.ToString();
                                if (FormType == "BR")
                                {
                                    <div class="col-md-12 input-group DivMargin">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        @*<div class="col-md-5" style="display:none">
                                                Files
                                                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                                            </div>*@

                                        <div id="DivDummy" class="col-md-2 "></div>

                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 input-group DivMargin " style="display:none">
                                        <div id="DivDummy" class="col-md-0 "></div>
                                        <div class="form-group col-md-5">
                                            Ward
                                            @Html.TextBoxFor(m => m.RegistrationForm[i].Gram_Panchayat_Unit, new { placeholder = " Ward", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Gram_Panchayat_Unit, "", new { @class = "text-danger" })

                                        </div>
                                        <div id="DivDummy" class="col-md-2 "></div>
                                        <div class="form-group col-md-5">
                                            Are you Indian ? <br />
                                            <input type="radio" name="Nationality" value="True">Yes
                                            <input type="radio" name="Nationality" value="False">No <br />
                                            @Html.ValidationMessageFor(m => m.RegistrationForm[i].Nationality, "", new { @class = "text-danger" })

                                        </div>

                                    </div>
                                }
                            }
                        </div>

                    </div>

                }
            }

            @*----------Display Identity Document------------------*@

            if (Model.Attaken.viewIdentityDocument.Count.Equals(0) || Model.Attaken.viewIdentityDocument == null)
            {
                <div class="panel panel-body panel-heading col-md-8" style=" border: 2px groove #ddd !important; border-radius: 7px;margin-left:17%; display:none">

                </div>

            }
            else
            {
                <div class="panel panel-body panel-heading col-md-8" style=" border: 2px groove #ddd !important; border-radius: 7px;margin-left:17%; ">
                    @*----------Display Documents------------------*@

                    <Table style="width: 300px; " cellpadding="0" cellspacing="0">
                        <tr>
                            <th>
                                Document Name
                            </th>
                            <th>
                                Document Type
                            </th>

                        <tr>
                            @foreach (var item in Model.Attaken.viewIdentityDocument)
                            {
                            <tr>

                                <td>
                                    @Html.DisplayFor(m => item.Docname)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Doctype)
                                </td>

                                <td>
                                    @Html.ActionLink("Click here to download",
                                   "DownloadFile_I", "Dashboard", new { DocName = item.Docname, Doctype = item.Doctype }, null)
                                </td>

                            </tr>
                        }
                        </Table>
                    </div>
                }

                @*---------------------------------------------Display BnD Document-----------------------------------------------------------------------*@

                if (Model.Attaken.viewBnDDocument.Count.Equals(0))
                {
                    <div class="panel panel-body panel-heading col-md-8" style=" border: 2px groove #ddd !important; border-radius: 7px;margin-left:17%; display:none">
                        @*----------Display comments------------------*@


                    </div>
                }
                else
                {
                    <div class="panel panel-body panel-heading col-md-8" style=" border: 2px groove #ddd !important; border-radius: 7px;margin-left:17%;">
                        @*----------Display comments------------------*@

                        <Table style="width: 500px;" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>
                                    Document Name
                                </th>
                                <th>
                                    Document Type
                                </th>

                            <tr>
                                @foreach (var item in Model.Attaken.viewBnDDocument)
                                {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(m => item.Docname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Doctype)
                                    </td>

                                    <td>
                                    <td>
                                        @Html.ActionLink("Click here to download",
                                       "DownloadFile_BnD", "Dashboard",new {DocName=item.Docname,Doctype=item.Doctype, folder = Model.RegistrationForm[0].BnDType.ToString()},null)

                                    </td>
                                </tr>
                            }
                            </Table>
                        </div>
                    }


                    <div class="panel panel-body panel-heading col-md-12" style=" border: 2px groove #ddd !important; border-radius: 7px;margin-left:17%;">
                        @*------------------------------------------------Display comments-----------------------------------------------------------------------*@

                        <Table style="width: 300px;" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>
                                    Comments
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                    UserName
                                </th>
                                <th>
                                    Datetime
                                </th>
                            <tr>
                                @foreach (var item in Model.Attaken.ShowAllComments)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.Comments)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Action)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.DateTime)
                                    </td>
                                </tr>
                            }
                            </Table>
                        </div>

                        @*--------------------------------------------------------------comments and Clarificationsbox----------------------------------------------------*@
                        @Html.TextAreaFor(m => m.Clarification, new { @class = "form-control", @rows = 10, @cols = 40 })

                        @*--------------------------------------------------------------Add New Document List --------------------------------------------------------------*@

                        <h2>Documents </h2>
                        <table id="TblDocuments" class="panel panel-body panel-heading col-md-12" style="width:auto; " cellpadding="8" cellspacing="8">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.TextAreaFor(m => m.AppealDoc.AppealComment, new { @class = "form-control", @rows = 10, @cols = 40 })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.AppealDoc.AppealFileName, new { @type = "file", @name = "filePost", @class = "form -control" })
                                    </td>
                                </tr>


                            </tbody>

                        </table>


                        @*----------------------------------------------------------save data ----------------------------------------------------*@
                        <input type="submit" value="Submit" class="btn btn-success" />
                    }

    </div>
</body>
</html>
